<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ AndroidManifest.xml
  ~ Laboratoire 1
  ~
  ~ Copyright (c) 2015. Philippe Lafontaine
  ~ All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~     * Redistributions of source code must retain the above copyright
  ~       notice, this list of conditions and the following disclaimer.
  ~     * Redistributions in binary form must reproduce the above copyright
  ~       notice, this list of conditions and the following disclaimer in the
  ~       documentation and/or other materials provided with the distribution.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
  ~ ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
  ~ DISCLAIMED. IN NO EVENT SHALL <COPYRIGHT HOLDER> BE LIABLE FOR ANY
  ~ DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
  ~ (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
  ~ LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
  ~ ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  ~ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<manifest
	package="com.bleushan.laboratoire1"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<!-- android.permission.READ_EXTERNAL_STORAGE is implicitly granted by the following : -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app.name"
		android:theme="@style/Theme.Laboratoire1">
		<activity
			android:name=".ui.MainActivity"
			android:label="@string/app.name"
			android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<!--<provider-->
		<!--android:name=".provider.TextDocumentsProvider"-->
		<!--android:authorities="com.bleushan.laboratoire1.documents"-->
		<!--android:enabled="true"-->
		<!--android:exported="true"-->
		<!--android:grantUriPermissions="true"-->
		<!--android:permission="android.permission.MANAGE_DOCUMENTS">-->
		<!--<intent-filter>-->
		<!--<action android:name="android.content.action.DOCUMENTS_PROVIDER"/>-->
		<!--</intent-filter>-->
		<!--</provider>-->
	</application>
</manifest>
